<configuration>
    <port_socket>55555</port_socket>
    <port_websocket>33332</port_websocket>
    <port_telnet>40000</port_telnet>
    <enable_zip>1</enable_zip>
    <reload_class_path>/Users/phamquan/github/bigfox/server/BigFoxServer/target/classes/vn/com/onesoft/bigfox/server/io/message/user/cs</reload_class_path>
    <session_timeout>30</session_timeout>
    <certificate_file></certificate_file>
    <private_file></private_file>
</configuration>
